@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    flex: 1 1 auto;
    background-color: #1f2937;
    display: flex;

}

.information-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cards {
    display: flex;
}

.card {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
}

.box {
    border: 2px #3882f6 solid;
    width: 200px;
    height: 200px;
    border-radius: 8px 8px 8px 8px;
}

.quote-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
    padding: 24px 480px;
}

.quote-container p:first-child {
    font-style: italic;
}


.quote-container p:last-child {
    align-self: self-end;
    font-size: 18px;
    font-weight: 900;
}

.action-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 76px 440px;
}

.action {
    background-color: #3882f6;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    width: 1024px;
    height: 120px;
}

.action p:first-child {
    font-weight: 900;
}

.action p:last-child {
    font-size: 12px;
}

.action button {
    background-color: #3882f6;
    border: 2px #fff solid;
    color: #f9faf8;
    width: 100px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
}

.footer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    width: 100%;
}